.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.avatar{
  width: 20px;
  height: 20px;
}
.padding-profile{
  padding: 20px 20px;
}

.profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
}