<ion-header  translucent>
    <ion-toolbar color="danger">
        <ion-title>Noticias Tuxtla</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-card *ngFor="let report of reports" (click)="presentActionSheet()">
        <img [src]="report.imagen" />
        <ion-card-header>
            <ion-card-subtitle>{{report.nameReport}}</ion-card-subtitle>
            <ion-card-title>{{report.fecha}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{report.descripcion}}
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-fab routerLink="/tabs/tab2" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" size="small">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>
