<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Detalle Noticia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>


  <ion-card (click)="presentActionSheet(report)">
      <img [src]="report.imagen"/>

      <ion-card-header>
          <ion-card-subtitle>{{report.fecha | date}}</ion-card-subtitle>
          <ion-card-subtitle>Reportado por: {{reporter.name}}</ion-card-subtitle>
          <ion-card-title>{{report.nameReport}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          {{report.descripcion}} <br>
      </ion-card-content>
  </ion-card>
</ion-content>
